#rootLayout {
-fx-background-color: #FBF6B4;
-fx-font-family: "Comic Sans MS";
}


.table-view {
-fx-background-color: #FBF6B4;
-fx-border-color: #000000;
}

.chart {
-fx-background-color: #FBF6B4;
-fx-border-color: #000000;
}
.chart-pie-label {
	
}

.label {

}

.button {
    -fx-background-color: 
	#efefef,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #fff9e1 45.0%, #fff9e1 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
}

#toggleButton  {
	    -fx-background-color: 
		#efefef,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #fff9e1 45.0%, #fff9e1 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
    }
#toggleButton:focused,
#toggleButton:selected,
#toggleButton:selected:focused {
    -fx-background-color: #fff111;
    -fx-text-fill: black;
}


.menu-bar {
-fx-background-color: #AAFF8B;
-fx-border-color: #000000;
}